*{
	padding: 0;
	margin: 0;
}
.container{
	width: 700px;
	height: 400px;
	margin: 100px auto;
	border-radius: 20px;
	box-shadow:2px 4px 9px #000;
	overflow: hidden;
	position: relative;
	ul.img{
		width: 3500px;
		position: absolute;
		left: 0;
		top: 0;
		animation:imgs 10s infinite; /* 自定义动画:名称 时间 无限重复  */
	    li{
	    	list-style: none;
	        float:left;
	    }
	}
	ul.nav{
		position: absolute;
		left: 15px;
		bottom: 15px;
		li{
			list-style: none;
			background:url("../images/a.png");
			width: 24px;
			height: 21px;
			float: left;
			margin-right: 10px;
			line-height: 21px;
			text-align: center;
			color: #fff;
		}
		&>li.bg{
           background:url("../images/b.png");
           position: absolute;
           left: 0;
           top: 0;
           opacity: 0.5;
           animation:bg 10s infinite;
		}
	}
	@keyframes imgs{
		0%{left:0px}15%{left:0px}
		20%{left:-700px}35%{left:-700px}
		40%{left:-1400px}55%{left:-1400px}
		60%{left:-2100px}75%{left:-2100px}
		80%{left:-2800px}95%{left:-2800px}
		100%{left:0px}
	}
	@keyframes bg{
		0%{left:0px;}15%{left:0px;}
		20%{left:34px;}35%{left:34px;}
		40%{left:68px;}55%{left:68px;}
		60%{left:102px;}75%{left:102px;}
		80%{left:136px;}95%{left:136px;}
		100%{left:0px;}
	}
}   